<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Movies</a>
  
  <!-- Navbar Toggler for Smaller Devices -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto"> <!-- aligns the nav items to the right -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/grouped-movies" routerLinkActive="active">View Movies Grouped By Ratings</a>
      </li>
      <li class="nav-item">
        <a routerLink="/movie-category-report" class="nav-link">Movie Category Report</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
